body{
	font-size: 16px;
	color: #fff;
	/*background-color: #61122f;*/
	font-family: 'Oxygen', sans-serif;
	/*border:3px solid black;*/
}

#header-nav{
	border:3px solid black;
	background-color: gray;
}

.navbar-toggler-icon{
	float: right;
}

h1{
	text-align: center;
}
 
 /* body{
	color: red;
} */
h1 {
	text-align: center;
	font-family: initial;

}
#menu{
	background-color: gray;
	text-align: center;
	font-size: 25px;
}
body{
	margin: 0;
	padding: 0;

}
#d1,#b1,#s1{
	color: black;
	background-color:  gray;
	padding: 0px 0px 10px 10px;
	border: 3px solid black;
	 margin: 20px;
	width: 900px;
  height: 250px;
	align-self: center;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: auto;
}
#nav_chiken,#nav_beef,#nav_sushi{
	background-color: white;
	border:1px solid black;
	text-align: center;
}

/*@media(max-width: 767px ){
	#d1,#b1,#s1{
		 
     	width: 100%;
     	 
     	
	 }


}	
@media (min-width: 992px){
     #d1,#b1,#s1{
      width: 33.33%;
      


     }


} 
@media (min-width: 768px) and (max-width: 991px){

     #d1{
     	 
     	 
     	width: 50%;
     	 

     	 
     }
     #b1{
     	 
     	 
     	width: 50%;
     	 
     }
     
     #s1{
     	 
     	width: 100%;
     	 
     	 
     	 
     }

}*/



 
#chicken {
	color: black;

	
	

	/*margin: 40px ;*/
	
	text-align: center;
	clear: both;

}
/*#d1{
	color: black;
	background-color:  gray;
	padding: 15px;
	border: 3px solid black;
	margin: 40px ;
	width: 300px;
}*/
#Beef{
	color: black;

	
	

	/*margin: 40px ;*/
	
	text-align: center;
	clear: both;
}
p{
	clear: right;
}
/*#b1{
	color: black;
	background-color:  gray;
	padding: 15px;
	border: 3px solid black;
	margin: 40px ;
	width: 300px;
}*/
#Sushi{
	color: black;

	
	

	/*margin: 40px ;*/
	
	text-align: center;
	clear: both;
}

 